@page "/checkout"
@using DataEntities
@using Store.Services
@inject NavigationManager Nav
@inject ProductService ProductService
@inject ICartService CartService
@inject IHttpContextAccessor HttpContextAccessor
@attribute [StreamRendering]

<PageTitle>Checkout </PageTitle>
<SectionContent SectionName="page-header-title">Checkout</SectionContent>

<div class="checkout">
    <div class="h2">Payment has been deducted from your card on file</div>
    <div class="h2">Your order number is: @OrderNumber</div>
    <a href="" class="button button-secondary">
        <img role="presentation" src="icons/arrow-left.svg" />
        <p>Continue shopping</p>
    </a>
</div>


@code {
    public HttpContext? HttpContext { get; set; }
    private int OrderNumber;

    protected override async Task OnInitializedAsync()
    {
        HttpContext = HttpContextAccessor.HttpContext;
        await CartService.DeleteCart(HttpContext.User.Identity.Name);

        OrderNumber = new Random().Next(100000, 999999);

    }

}
