@using DataEntities
@using Store.Services
@inject ProductService ProductService

<div class="catalog-item">
    <a class="catalog-product" href="@ProductItemURL" data-enhance-nav="false">
        <span class='catalog-product-image'>
            <img alt="@product.Name" src='images/@product.ImageUrl' />
        </span>
        <span class='catalog-product-content'>
            <span class='name'>@product.Name</span>
            <span class='price'>$@product.Price.ToString("0.00")</span>
        </span>
    </a>
</div>

@code {
    [Parameter, EditorRequired]
    public required Product product { get; set; }

    private string ProductItemURL => $"/product/{product.Id}";
}